<% layout('layout') -%>

	<!-- Body Section -->
	<div class="sec-banner bg0 p-t-80 p-b-250">
		<section class="bg5 p-t-80 p-b-200">
			<div class="flex-w flex-tr">
				<div class="size-210 p-lr-0 p-t-55 p-b-70 p-lr-0-lg w-full-md">
					<div class="container">
						<div style="display:inline-block; width:45%;text-align:center;">
							<div class="bor17 of-hidden pos-relative">
								<%- include ../partials/messages %>
								<form id="login_form" action="/seller/panel" method="POST">
									<input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" placeholder="seller name or email"
										name="seller_email" type="text" />

									<input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" placeholder="Password"
										name="seller_pass" type="text" />

										<button
											class="flex-c-m stext-101 cl0 size-201 bg4 bor5 hov-btn2 p-lr-170 trans-04">
											Submit
										</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>