<!DOCTYPE html>
<html>

<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<script src="http://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!--===============================================================================================-->
</head>

<body>
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar">
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar">
						User Panel
					</div>

					<div class="right-top-bar flex-w h-full">
						<a href="#" class="flex-c-m trans-04 p-lr-25">
							Login As User
						</a>
					</div>
				</div>
			</div>
			<div class="wrap-menu-desktop how-shadow1" style="top: 4%;">
				<nav class="limiter-menu-desktop container">
					<!-- Logo desktop -->
					<a href="#" class="logo">
						<img src="images/icons/logo-01.png" alt="IMG-LOGO">
					</a>
				</nav>
			</div>
		</div>
	</header>

	<!-- Body Section -->
	<div class="sec-banner bg0 p-t-80 p-b-250">
		<section class="bg5 p-t-80 p-b-200">
			<div class="flex-w flex-tr">
				<div class="size-210 p-lr-0 p-t-55 p-b-70 p-lr-0-lg w-full-md">
					<div class="container">
						<div style="display:inline-block; width:45%;text-align:center;">
							<div class="bor17 of-hidden pos-relative">
								<%- include ../partials/messages %>
								<form id="login_form" action="/login" method="POST">
									<input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" placeholder="Username or email"
										name="user_email" type="text" />

									<input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" placeholder="Password"
										name="user_pass" type="text" />

										<button
											class="flex-c-m stext-101 cl0 size-201 bg4 bor5 hov-btn2 p-lr-170 trans-04">
											Submit
										</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

</body>
<script> //TODO: click login creates 2 text boxes and on click sign up create 6-7 text boxes 
</script>

</html>